.navbar {
    width: 100%;
    text-align: center;
    background-color: black;
}

.navbar a {
    display: inline-block;
    color: white;
    padding: 20px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: pink;
}

.navbar a.active {
    background-color: tan;
    color: black;
}