#about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pic-bio {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 100%;
}

.languages {
    height: 20vh;
    text-align: center;
}

.pp, .bio {
    display: inline-block;
    margin: 0 1%;
}

.pp {
    overflow: hidden;
    border-radius: 50%;
    width: max(25%, 225px);
    height: 75%;
    border: 1px solid var(--text);
}

.pp img {
    width: 100%;
}

.bio {
    max-width: 40%;
}

.languages img {
    margin: 0 1vw;
    height: 10vh;
}

#about a {
    background-color: var(--onBackground);
    padding: 1vh;
    text-decoration: none;
}

#about a:hover {
    background-color: var(--onHover);
    color: var(--background);
    text-decoration: none;
}