/*Projects*/
    .projects-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin: calc((98vh - 42vw) / 2) auto;
    }

/*ProjectsPopup*/
    .thumbnail {
        height: 20vw;
        width: 20vw;
        cursor: pointer;
        margin: 1vw 1vw;
    }    

    .thumbnail img {
        height: 100%;
        width: 100%;
    }

    .popup-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 999;
        background-color: rgba(0,0,0,0.75);
        animation: fadeIn 0.25s;
    }

    .popup {
        height: 75vh;
        width: 50vw;
        background-color: white;
        z-index: 1001;
    }

    @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }