/*app-wide*/
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-align: center;
  }
  
  body {
    font-family: sans-serif;
    background-color: #eadac5;
    overflow-x: hidden;
  }

  .content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section {
    height: 100vh;
    border: 1px solid black;
    border-bottom: none;
    width: 75vw;
  }

  /*Footer*/
  #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    background-color: aqua;
    width: 100vw;
    left: 0;
    right: 0;
    padding: 1vh 0;
  }

  .footer-section {
    margin: 5px 0;
  }

  #contact a {
    color: black;
    text-decoration: none;
  }

  #contact a:hover {
    color: white;
    text-decoration: underline;
  }

  #contact p {
    margin: 5px 0;
  }

  .socials a {
    margin: 0 10px;
  }