/*app-wide*/
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-align: center;
  }
  
  body {
    font-family: sans-serif;
    background-color: var(--background);
    overflow-x: hidden;
  }

  .content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section {
    height: 100vh;
    border: 1px solid var(--text);
    border-bottom: none;
    width: 75vw;
  }

  .italic {
    font-style: italic;
  }

  :root {
    --background: #FEFAE0;
    --onBackground: #DDA15E;
    --onHover: #BC6C25;
    --text: #283618;
  }

  span, h1, h2, h3, h4, h5, h6, p, span, a, div {
    color: var(--text);
  }

  /*Footer*/
  #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    background-color: var(--onBackground);
    width: 100vw;
    left: 0;
    right: 0;
    padding: 1vh 0;
  }

  .footer-section {
    margin: 5px 0;
  }

  #contact a {
    text-decoration: none;
  }

  #contact a:hover {
    color: var(--background) !important;
    text-decoration: underline;
  }

  #contact p {
    margin: 5px 0;
  }

  .socials a {
    margin: 0 10px;
  }